# Terminal type
# term = xterm-256color

# Font configuration
font-family = "JetBrainsMono Nerd Font Mono"
font-size = 12
font-thicken

# Custom colors (Tokyo Night theme)
theme = Tokyonight Moon

# Window configuration
macos-titlebar-style = hidden
macos-option-as-alt = left

# Keyboard bindings
keybind = shift+enter=text:\x1b[13;2u
keybind = ctrl+enter=text:\x1b[13;5u
keybind = cmd+shift+f=toggle_fullscreen

# SSH integration
shell-integration-features = ssh-env
